.home {
  text-align: center;
  color: white;
}

body {
  background-color: #413836;
}

.product {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  background-color: #654c4e;
  height: 250px;
  width: 200px;
  text-align: center;
  color: #b3a1a0;
}

.product img {
  width: 90%;
}

.product-list {
  display: flex;
}
